@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root{
	--primary: #6b59d3;
	--secondary: #bfc0c0;
	--white: #fff;
	--text-clr: #5b6475;
	--header-clr: #25273d;
	--next-btn-hover: #8577d2;
	--back-btn-hover: #8b8c8c;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	outline: none;
	font-family: 'Open Sans', sans-serif;
}

body{
	color: var(--text-clr);
	font-size: 16px;
	position: relative;
}


.dashboard-table{
	width: 100%;
	color: white;
	background-color: rgba(0, 0, 0, 0.3);
	margin: 0%;
}

.navbar-nav{
	font-family: 'Montserrat', sans-serif;
}

.navbar-header{
	padding: 8px;
	font-weight: bolder;
}

.navbar-brand img{
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	width: 48px;
	height: 48px;
	margin-right: 8px;
}

.navbar-nav .nav-item:hover{
	background-color: rgba(180, 190, 203, 0.4);
}

.wrapper{
	box-shadow: 0 3px 12px rgb(0 0 0 / 0.18);
	height: fit-content;
	min-height: 500px;
	width: 750px;
	max-width: 100%;
	background: var(--white);
	margin: 50px auto 0;
	margin-bottom: 50px;
	padding: 24px;
	border-radius: 18px;
}

.wrapper .header{
	margin-bottom: 8px;
	display: flex;
	justify-content: center;
}

.wrapper .header ul{
	display: flex;
}

.wrapper .header ul li{
	margin-right: 40px;
	position: relative;
}

.wrapper .header ul li:last-child{
	margin-right: 0;
}

.wrapper .header ul li:before{
	content: "";
	position: absolute;
	top: 35%;
	/* transform: translateY(-50%); */
	left: 45px;
	width: 100%;
	height: 3px;
	background: var(--secondary);
}

.wrapper .header ul li:last-child:before{
	display: none;
}

.wrapper .header ul li div{
	padding: 5px;
	border-radius: 50%;
}

.wrapper .header ul li p{
	width: 40px;
	height: 40px;
	background: var(--secondary);
	color: var(--white);
	font-weight: bolder;
	text-align: center;
	line-height: 40px;
	border-radius: 45%;
}

.wrapper .header ul li.active p{
	background: rgb(47 132 224);
}

.wrapper .form_wrap{
	margin-bottom: 35px;
}

.wrapper .form_wrap h2{
	color: var(--header-clr);
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 40px;
	font-weight: 700;
}

.wrapper .form_wrap .input_wrap{
	width: 600px;
	max-width: 100%;
	margin: 0 auto 20px;
}

.wrapper .form_wrap .input_wrap:last-child{
	margin-bottom: 0;
}

.wrapper .form_wrap .input_wrap label{
	display: block;
	margin-bottom: 5px;
}

.wrapper .form_wrap .input_wrap .input{
	border: 2px solid var(--secondary);
	border-radius: 3px;
	padding: 10px;
	display: block;
	width: 100%;	
	font-size: 16px;
	transition: 0.5s ease;
}

.wrapper .form_wrap .input_wrap .input:focus{
	border-color: var(--primary);
}

.wrapper .btns_wrap{
	width: 600px;
	max-width: 100%;
	margin: 0 auto;
}

.wrapper .btns_wrap .common_btns{
	display: flex;
	justify-content: space-between;
}

.wrapper .btns_wrap .common_btns.form_1_btns{
	justify-content: flex-end;
}

.wrapper .btns_wrap .common_btns button{
	border: 0;
	padding: 8px 20px;
	background: var(--primary);
	color: var(--white);
	width: fit-content;
	justify-content: center;
	display: flex;
	align-items: center;
	font-size: 16px;
	font-weight: bold;
	border-radius: 3px;
	transition: 0.5s ease;
	cursor: pointer;
}

.wrapper .btns_wrap .common_btns button.btn_back{
	background: var(--secondary);
}

.wrapper .btns_wrap .common_btns button.btn_next .icon{
	display: flex;
	margin-left: 10px;
}
.wrapper .btns_wrap .common_btns button.btn_submit .icon{
	display: flex;
	margin-left: 10px;
}

.wrapper .btns_wrap .common_btns button.btn_back .icon{
	display: flex;
	margin-right: 10px;
}

.wrapper .btns_wrap .common_btns button.btn_next:hover,
.wrapper .btns_wrap .common_btns button.btn_submit:hover{
	background: var(--next-btn-hover);
}

.wrapper .btns_wrap .common_btns button.btn_back:hover{
	background: var(--back-btn-hover);
}

.modal_wrapper{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	visibility: hidden;
}

.modal_wrapper .shadow{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.8);
	opacity: 0;
	transition: 0.2s ease;
}

.modal_wrapper .success_wrap{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-800px);
	background: var(--white);
	padding: 50px;
	display: flex;
	align-items: center;
	border-radius: 5px;
	transition: 0.5s ease;
}

.modal_wrapper .success_wrap .modal_icon{
	margin-right: 20px;
	width: 50px;
	height: 50px;
	background: var(--primary);
	color: var(--white);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 32px;
	font-weight: 700;
}

.modal_wrapper.active{
	visibility: visible;
}

.modal_wrapper.active .shadow{
	opacity: 1;
}

.modal_wrapper.active .success_wrap{
	transform: translate(-50%,-50%);
}


.flex-container{
	padding: 4px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
}

.ok{
    background-color: rgb(164, 163, 163);
    /* background-image: radial-gradient(circle at center,#626064, #5d5c60); */
}

.custom-select{
	min-width: 100px;
    font-size: medium;
    margin: 10px;
}

.flex-container2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.flex-container3{
	align-items: center;
    display: flex;
    flex-direction: row;
}

.flex-container4{
    /* width: fit-content; */
    /* height: fit-content; */
    /* background-color: antiquewhite; */
    /* background-image: radial-gradient(circle at center,#b393d3, #553c9a); */
    /* align-items: center; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-self: center; */
}




.logo{
    margin: 10px;

}

.title{
    font-size: 60px;
    font-weight: 550;
    background-image: linear-gradient(to left, #c1e860, #b3c49f);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }

.buttonFlex{
    text-align: right;
    background-color: #6da7ef;
    /* background-color: white; */
}


.flex-container5{
    display: flex;
    justify-content:flex-end;
}

#essayWindow{
    resize:none;
}

.flex-container6{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex-container7{
    /* justify-content:left; */
    text-align: center;
    
    margin-bottom: 50px;
}

.flex-container8{
    /* justify-content: right; */
    text-align: right;
    margin: 10px;
    margin-left: 70px;
}

.progress{
    margin-left: 150px;
    margin-right: 150px;
    height: 40px;
}

#projCategories{
	flex-wrap: wrap;
    display: flex;
    gap: 12px;
}

.projCat {
    display: flex;
    gap: 12px;
    background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.3);
border-radius: 14px;
padding: 4px 8px;
}

.projCat > p {
    margin: 0;
}

.projCat > div {
    cursor: pointer;
}


#projSubCategories{
	flex-wrap: wrap;
    display: flex;
    gap: 12px;
}

.projSubCat {
    display: flex;
    gap: 12px;
    background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.3);
border-radius: 14px;
padding: 4px 8px;
}

.projSubCat > p {
    margin: 0;
}

.projSubCat > div {
    cursor: pointer;
}