<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- <script src= "behavior.js"></script> -->
    <script src="https://kit.fontawesome.com/ffc40f5fab.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="styles2.css">
    <link rel="icon" type="image/x-icon" href="PAPlogo2.jpg">
    <link rel="stylesheet" href="styles2.css">
    <title>PAP</title>
</head>

<body class="ok">
    <div class="flex-container">
      <div>
        <img class="logo" src="PAPlogo3.jpg" width="90" height="90" class="d-inline-block align-top" alt="">
      </div>
      <div>
        <h1 class="title">
          Project Acceptance Predictor
        </h1>
      </div>
    </div>

    <div class="flex-container4">
      <form class="form_1">
        <div class="form-group">
          <h2>
            <label for="exampleInputEmail1">Project Essay : </label>
          </h2>
          
          <textarea placeholder="Type or paste your project essay here" name="essay" id="essayWindows" cols="50" rows="20"></textarea>
          <div class="flex-container5">
            <form>
              <button type="button" class="btn btn-primary">
                <a  href="index4.html" style="text-decoration: none; color: inherit;">Submit</a>
                
              </button>
            </form>
            
          </div>
        </div>
      </form>
    </div>    
    
</body>
</html>